# Nuvoton NPCM400F Cortex-M4

# Copyright (c) 2021 Nuvoton Technology Corporation.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_NPCM400F

config SOC_SERIES
	default "npcm400f"

config NUM_IRQS
	default 64

source "soc/arm/npcm4xx/npcm400f/Kconfig.defconfig.npcm400f*"

endif # SOC_SERIES_NPCM400F
