# NPCM4XX SPI-FIU Driver configuration options

# Copyright (c) 2023 Nuvoton Technology Corporation.
# SPDX-License-Identifier: Apache-2.0

config SPI_NPCM4XX_FIU
	bool "Nuvoton NPCM4XX SPI driver for NOR flash"
	default y
	depends on SOC_FAMILY_NPCM4XX
	help
	  Enable the SPI driver for NPCM4XX family of processors. This driver is
	  for the dedicated SPI controller (FIU) to access the NOR flash.

config SPI_NPCM4XX_FIU_DIRECT_WRITE
	bool "Nuvoton NPCM4XX SPI driver for Direct Write to NOR flash"
	default n
	depends on SPI_NPCM4XX_FIU
	help
	  Enable the SPI driver to use direct write to access NOR flash.
